<div class="flex bg-white shadow-4 border-round-2xl px-4 py-2 justify-content-between">
    <div class="flex">
        <img [src]="" alt="Course Logo" class="w-4rem h-4rem"/>
        <div class="flex flex-column justify-content-center row-gap-1">
            <h3 class="my-0 font-medium">{{exam?.title}}</h3>
            <p class="text-gray-500 my-0">{{exam?.numberOfQuestions}} Questions</p>
        </div>
    </div>
    <div class="flex flex-column justify-content-center row-gap-1">
        <h3 class="my-0 font-medium text-base">{{exam?.duration}} Minutes</h3>
        <app-main-button text="Start" classes="w-full py-1" (click)="showInstructionModal()"></app-main-button>
    </div>
</div>
@if (showModal) {
    <p-dialog [modal]="true" [draggable]="true" [showHeader]="false" contentStyleClass="py-4 px-2 border-round-xl" styleClass="w-10"  [closeOnEscape]="false" [closable]="false" [visible]="true">
        @if (instructionModal) {
            <h2 class="my-0 py-0">Instructions</h2>
            <ul class="mt-2 px-4">
                <li>Lorem ipsum dolor sit amet consectetur.</li>
                <li>Lorem ipsum dolor sit amet consectetur.</li>
                <li>Lorem ipsum dolor sit amet consectetur.</li>
                <li>Lorem ipsum dolor sit amet consectetur.</li>
            </ul>
            <app-main-button text="Start" classes="w-full py-2" [isLoading]="isLoading" (click)="startExam()"></app-main-button>
        }
        @else if (questionModal) {
            <div class="w-full flex justify-content-between py-0 my-0 align-items-center">
                <p class="text-main my-0 py-0 text-sm">Question {{currentQuestionIndex + 1}} of {{examQuestions.length}}</p>
                <div class="text-green-400 my-0 py-0 text-sm flex align-items-center column-gap-2">
                    <img src="assets\images\alarm.png" class="my-0 py-0" alt="">
                    <p class="my-0 py-0" [ngClass]="{'text-red-500': timeLeft < 180}">{{formatTime(timeLeft)}}</p>
                </div>
            </div>
            <div class="px-2">
                <div class="w-full my-2 flex justify-content-between column-gap-0 text-gray-400">
                    @for (question of examQuestions; track question._id) {
                        <i class="fa-solid fa-circle text-2xs mx-0 px-0" [ngClass]="{'text-main': isQuestionAnswered(question._id)}"></i>
                    }
                </div>
                <div class="mt-6">
                    <p class="font-bold">{{examQuestions[currentQuestionIndex].question}}</p>
                    <div class="flex flex-column row-gap-2">
                        @for (answer of examQuestions[currentQuestionIndex].answers; track answer.key) {
                            <label [for]="answer.key" class="d-flex align-items-center w-full h-full cursor-pointer">
                                <div class="bg-gray-100 w-full p-3 border-round-xl">
                                    <input type="radio" [checked]="selectedAnswer == answer.key" [name]="examQuestions[currentQuestionIndex]._id" [id]="answer.key" [value]="answer.key" (change)="selectedAnswer = answer.key">
                                    <span class="my-0 py-0">{{answer.answer}}</span>
                                </div>
                            </label>
                        }
                    </div>
                    <div class="flex justify-content-between mt-4">
                        <div class="w-5 text-main">
                            <button class="bg-transparent border-round-2xl border-main outline-none text-main cursor-pointer w-full py-2" (click)="prevQuestion()">Back</button>
                        </div>
                        <div class="w-5">
                            <app-main-button classes="w-full py-2" text="Next" [disabled]="!selectedAnswer" (click)="nextQuestion(examQuestions[currentQuestionIndex]._id, selectedAnswer)"></app-main-button>
                        </div>
                    </div>
                </div>
            </div>
        }
        @else if (resultModal) {
            <h2 class="my-0 py-0 font-semibold">Your score</h2>
            <div class="flex align-items-center justify-content-center column-gap-6">
                <div class="relative">
                    <p-chart type="doughnut" [data]="data" [options]="options" class="w-3"></p-chart>
                    <div class="absolute text-center" style="top: 50%; left: 50%; transform: translate(-50%, -50%);">
                        <p class="m-0 font-bold text-xl">{{ ((correctAnswers / (examQuestions.length)) * 100) | number:'1.0-0' }}%</p>
                    </div>
                </div>
                <div>
                    <div class="flex align-items-center mb-2">
                        <span class="text-correct font-medium mr-2">Correct</span>
                        <div class="border-correct border-circle border-1 w-2rem h-2rem flex justify-content-center align-items-center">
                            <span class="text-correct">{{ correctAnswers }}</span>
                        </div>
                    </div>
                    <div class="flex align-items-center">
                        <span class="text-incorrect font-medium mr-2">Incorrect</span>
                        <div class="border-incorrect border-circle border-1 w-2rem h-2rem flex justify-content-center align-items-center">
                            <span class="text-incorrect">{{ examQuestions.length - correctAnswers }}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex justify-content-between mt-4">
                <div class="w-5 text-main">
                    <button class="bg-transparent border-round-2xl border-main outline-none text-main cursor-pointer w-full py-2" (click)="showModal = false">Back</button>
                </div>
                <div class="w-5">
                    <app-main-button classes="w-full py-2" text="Show results"></app-main-button>
                </div>
            </div>
        }
    </p-dialog>
}