.bg-section {
    background-color: #f0f4fc;
}
.text-blue {
    color: #122d9c;
}
.font-50 {
    font-size: 3.125rem;
}
.font-60 {
    font-size: 3.75rem;
}
.border-round-right-cover {
    border-top-right-radius: 10%;
    border-bottom-right-radius: 10%;
}
.w-45 {
    width: 45% !important;
}
.w-40 {
    width: 40%;
}
.w-80 {
    width: 80%;
}