.bg-main {
    background-color: #4461F2;
}
.text-main {
    color: #4461F2;
}
.border-main {
    border-color: #4461F2;
    border-width: 1px;
}
.font-poppins {
    font-family: 'Poppins', sans-serif;
}
.right-5 {
    right: 5%;
}